<div class="max-w-lg m-auto px-4">
    <h1 class="text-3xl mt-10">Create Flight Itinerary</h1>
    <p class="text-lg text-grey-700 mb-6">Please put your flight itinerary information below.</p>
    <%= render 'form', itinerary: @itinerary %>
</div>