<div class="max-w-md my-10 m-auto lg:p-16 bg-white rounded border border-gray-100 text-center shadow">
    <%= image_tag "schedule.svg", alt: "schedule", width: 300, class: "mb-4" %>
    <h1 class="text-indigo-700 text-2xl mb-6">It looks like you haven't registered a team yet.</h1>
    <%= link_to "Register a new team", new_trip_path, class: "btn btn-orange py-3 px-5" %>
</div>