<div class="max-w-lg m-auto px-4">
    <h1 class="text-3xl mt-10">Edit Team Registration</h1>
    <p class="text-lg text-grey-700 mb-6">Edit your team registration below.</p>
    <%= render 'form', trip: @trip %>
</div>
