<div class="flex items-start p-4 mt-4 border rounded">
    <div class="flex-1 pl-4 flex items-start justify-between">
        <div class="leading-normal">
            <p class="text-grey-700 text-xs"><%= comment.user.name %> commented <%= time_ago_in_words(comment.created_at) %> ago</p>
            <div class="text-grey-800"><%= sanitize comment.reply.to_plain_text %></div>
        </div>

        <% if author_of(comment) %>
            <%= link_to "Delete", trip_comment_path(comment.trip, comment), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-red" %>
        <% end %>
    </div>
</div>