<p class="text-sm text-grey-700 my-2">comment as <%= current_user.name %></p>

<%= form_for([@trip, @comment], remote: true) do |f| %>
    <div class="relative">
        <%= f.rich_text_area :reply, id: "comment_reply_trix", class: 'input', placeholder: "add any notes or replies here" %>

        <%= f.submit class: 'btn btn-sm btn-orange block w-full text-center mt-2 lg: mt-0 lg:text-left lg:absolute lg:pin-b lg:pin-r lg:mb-2 lg:mr-2 lg:w-auto lg:inline-flex' %>
    </div>
<% end %>