<div class="max-w-3xl my-10 m-auto">
  <div class="p-5 bg-white border border-grey-200 rounded">

    <img src="/images/About-Head-Img.png" alt="Vision - A Latin America where a dignified life is within reach for every family." />

    <div class="max-w-lg mx-auto mt-16 text-center">
        <h1 class="mb-4 text-3xl font-black">Strong Missions Mission Statement</h1>
        <p class="text-lg leading-snug">Develop communities in Latin America through sustainable strategies of local investment that break the cycle of poverty, reduce delinquency, minimize social risk, and change global perspectives.</p>
    </div>

    <div class="p-6 bg-grey-200 mb-5 items-center justify-between">
      <div class="max-w-lg mx-auto mt-16 text-center">
        <h1 class="mb-4 text-xl font-black">Our Christian Mission</h1>
      </div>
      <div class="justify-between items-center mb-5">
        <ul class="list-disc">
          <li>God is the God of peace, love and grace, and is ever-working to make such things a reality to all of Creation.</li>
          <li>God inspires and empowers those open to the revelation and presence of God in the world to make a difference in the lives of others.</li>
          <li>Approximately 2% of the world’s population uses approximately 95% of the world’s resources. We, the world’s wealthy, have a responsibility to God, the world, and to ourselves to pass God’s blessings on to those who have less.</li>
          <li>Christ calls us to love God above all else and love our neighbors as ourselves, and this includes all humankind who are our brothers and sisters. Christ also tells us that when we do for one of the least we do for Christ himself, and when we do not do for one of the least we do not do for Christ himself.</li>
          <li>Embracing the good news of Jesus the Christ brings about the “peace that surpasses all understanding”, and with such peace comes the conviction that socioeconomic justice is a necessity and basic right of all people.</li>
        </ul>
      </div>
    </div>

    <div class="p-6 bg-grey-200 items-center justify-between">
      <div class="max-w-lg mx-auto text-center">
        <h1 class="mb-4 text-xl font-black">Strong Missions Empowered Communities</h1>
      </div>
      <div class="justify-between items-center mb-5">
        <img class="float-left p-5 w-72 h-56"src="/images/empowered.jpeg" alt="Empowered Communities" />
        <p>Since 2004 Strong Missions has been working on construction projects including churches, public schools, homes for the poor, orphanages, children’s parks, and additional projects requested by local community leaders.</p>
        <p>In 2006, we began working with a feeding program in Los Guido de Desamparados, a large precario (slum) in southern San Jose. The following year we realized that as important as the feeding program is, it does very little to break the cycle of poverty.  At that time, we began the implementation of various education programs.</p>
        <p>Through the years we have always kept an open mind as God continues to bring to light new ways to grow and develop local communities. For this reason, as well as our deep connection to the communities we serve, our community development projects have grown and evolved to include various year-round feeding, education, and extracurricular activity programs. We continue to see dramatic improvements in grades, attention span, discipline and self-esteem, and we look forward to seeing these results develop further as the programs grow.</p>
        <p>One hundred percent of the following programs run on donations, both from inside Costa Rica and from people such as you. We hope that you will read more and prayerfully consider partnering with us in this work.</p>
      </div>
    </div>

    <div class="p-6 bg-grey-200 mb-5 items-center justify-between">
      <div class="max-w-lg mx-auto text-center">
        <h1 class="mb-4 text-xl font-black">Food for Families</h1>
      </div>
      <div class="justify-between items-center mb-5">
        <img class="float-left p-5 w-72 h-56"src="/images/circle-pray.jpeg" alt="Follow Missions Garden" />
        <img class="float-right p-5 w-56 h-60"src="/images/food-for-families.jpeg" alt="Laney's Food For Families" />
        <img class="float-left p-5 w-72 h-56"src="/images/follow-missions-garden.jpeg" alt="Follow Missions Garden" />
        <p>It’s clear that education is the key to break the cycle of poverty, but a child does not study well if he/she is thinking about the next meal that may or may not come. Healthy diets equal healthy minds and bodies. Strong Missions is helping families by offering assistance with grocery staples and fresh vegetables from community gardens.</p>
      </div>
    </div>

    <div class="p-10 bg-grey-200 mb-5 items-center justify-between">
      <div class="max-w-lg mx-auto text-center">
        <h1 class="mb-4 text-xl font-black">Extra Curricular Activities</h1>
      </div>
      <div class="justify-between items-center mb-5">
        <p>Most public school schedules are short in Costa Rica, leaving a significant part of the day free for primary and secondary students to roam the streets. Too much extra time in at-risk areas can lead to delinquent behavior, as there is a tremendous amount of peer pressure from negative influences. Extracurricular activities such as fine arts, sports, and martial arts give these children a positive alternative to hanging out in the streets, where they are exposed to gangs, drugs, sex (underage and unwed pregnancy is widespread), and violence. Getting kids involved in such activities is key to defending both the future of these kids as well as the general security of Costa Rica.</p>
        <img class="float-left p-5 w-72 h-56"src="/images/Karate-1.jpeg" alt="Karate" />
        <p>We have seen a rise in gang activity and violence all over northern Central American countries and Mexico and attempts have been made by gangs to organize in Costa Rica and Nicaragua. To protect our world we must protect the children and families, and offer them opportunities that can help them improve their decision-making and potentially change their lives and their descendants forever.</p>
        <p>We are excited about the differences we are seeing (increased self-confidence and fitness, better grades and behavior, etc.) and so we continue to organize additional sports, martial arts and fine and performance arts programs in all areas of the country so that young people have a strong foundation for future success. Tournaments and camps are included in such programming, and give students the chance to visit unknown areas, challenge their comfort levels, and make new friends from other parts of the country; an opportunity not otherwise afforded them. Plans are also being made to open a permanent Christian after-school program so that children have a safe and spiritual place to learn and play until their parents return from work each day.</p>
        <img class="float-left p-5 w-72 h-56"src="/images/dance-1.jpeg" alt="Dance" />
        <p>Such programs and effective leaders being present in the lives of local children also helps us identify individuals and areas deserving additional assistance, such as education and feeding programs. Such programs are funded by US 501c3 as well as local donations.</p>
      </div>
    </div>

    <div class="p-10 bg-grey-200 mb-5 items-center justify-between">
      <div class="max-w-lg mx-auto text-center">
        <h1 class="mb-4 text-xl font-black">Dance</h1>
      </div>
      <div class="justify-between items-center mb-5">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/sCwMdSpBaOM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <div class="p-10 bg-grey-200 mb-5 items-center justify-between">
      <div class="max-w-lg mx-auto text-center">
        <h1 class="mb-4 text-xl font-black">Karate</h1>
      </div>
      <div class="justify-between items-center mb-5">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/OjFzvTadmPQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <div class="p-10 bg-grey-200 mb-5 items-center justify-between">
      <div class="max-w-lg mx-auto text-center">
        <h1 class="mb-4 text-xl font-black">Construction</h1>
      </div>
      <div class="justify-between items-center mb-5">
        <img class="float-right p-5 w-72 h-96"src="/images/fm-constr2.jpeg" alt="Cement Work" />
        <p>All projects are proposed by local church and community leaders and evaluated by Strong Missions to ensure that the project can be completed in a timely manner, that there is enough work for teams, and that the project fits with the overall goals and missions of both the community and Strong Missions.</p>
        <p>Strong Missions works on construction projects including churches, public and special needs schools, houses for the poor, orphanages, children’s parks, and additional projects requested by local community leaders.</p>
        <p>In addition, Strong Missions is constructing its permanent home camp, where we can lodge mission teams and local camps, bus in local students and families for existing and future programs and events, and better reach out to all parts of Costa Rica.</p>
        <p>Both work teams and US 501c3 donations fund such construction projects.</p>
        <img class="p-5 w-auto h-auto"src="/images/construction-beam.jpeg" alt="Mission Team carrying heavy beam" />
      </div>
    </div>

    <div class="bg-grey-200 mb-5 items-center justify-between">
      <div class="max-w-lg mx-auto text-center">
        <h1 class="mb-4 text-xl font-black">Our Communities</h1>
      </div>
      <div class="justify-between items-center mb-5">
        <p>We are currently and will continue to be involved in the following communities, maintaining the current programs and working to offer more opportunities to the residents thereof. In addition, our ministries will continue to expand into other areas of the country and small programs are already planned to begin outside of the Central Valley of Costa Rica.</p>
      </div>
    </div>

  </div>
</div>