<div class="max-w-3xl my-10 m-auto">
  <div class="p-10 bg-white border border-grey-200 rounded">

    <div class="max-w-lg mx-auto mt-16 text-center">
        <h1 class="mb-4 text-3xl font-black">Staff</h1>
    </div>

    <div class="border p-6 bg-grey-200 mb-5 items-center justify-between">
      <div class="justify-between items-center mb-5">
        <img class="float-left p-3 w-56 h-56"src="/images/Angela1.jpeg" alt="Angela Gonzalez" />
        <p><strong>Angela Gonzalez</strong></p>
        <p><small><em>Empowered Communities Coordinator</em></small></p>
        <p>In addition to taking care of Charlie and Anna, Angela manages the kitchen at Strong Missions and helps with the logistics of the Loaves and Fishes feeding programs as well as Human Resources. Angela is currently finishing school for business management and hopes to run her own business in the future while still supporting the mission. She has a yellow belt in karate so make sure you stay on her good side!</p>
      </div>
    </div>
    <div class="border p-6 bg-grey-200 mb-5 items-center justify-between">
      <div class="justify-between items-center mb-5">
        <img class="float-left p-3 w-56 h-56"src="/images/Roy.jpeg" alt="Roy Leon" />
        <p><strong>Roy Leon</strong></p>
        <p><small><em>Program Assistant</em></small></p>
        <p>Roy is a native of Barranca, Puntarenas; he enjoys walking along the beach and watching the sunset while the foam vanishes in his footsteps. Roy enjoys working with people and always seeks to change the conditions of poverty in communities. He Loves surfing, travel, practicing martial arts, reading, and problem solving. He has worked the last 10 years with local development, housing, and public space projects.</p>
      </div>
    </div>
    <div class="border p-6 bg-grey-200 mb-5 items-center justify-between">
      <div class="justify-between items-center mb-5">
        <img class="float-left p-3 w-56 h-56"src="/images/Wilberth.jpeg" alt="Wilberth Mora Gonzalez" />
        <p><strong>Wilberth Mora Gonzalez</strong></p>
        <p><small><em>Construction Foreman</em></small></p>
        <p>Wilberth began working with Strong Mission in 2005. He works closely with all the groups and enjoys getting to know the teams. He is a dedicated worker and a pleasure to have as part of the Strong Missions family. His wife Elisabeth also works as a cook and they have 4 children and 3 grandchildren. His English is better than he lets on, so feel free to quiz him on the worksite.</p>
      </div>
    </div>
    <div class="border p-6 bg-grey-200 mb-5 items-center justify-between">
      <div class="justify-between items-center mb-5">
        <img class="float-left p-3 w-56 h-56"src="/images/Warner.jpeg" alt="Warner Gonzalez Herra" />
        <p><strong>Warner Gonzalez Herra</strong></p>
        <p><small><em>Construction</em></small></p>
        <p>Warner began working with Strong Missions in 2010. He is Wilberth’s brother and it is fun to have the brothers working together with the teams. When asked what he likes to do in his free time, his response was a smile and that he liked to work which isn’t a surprise coming from such a hard-working guy.</p>
      </div>
    </div>
  </div>
</div>